{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <span class="fs-75">
        Štartová listina:
    </span>
    {{ competition.name }}
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr class="text-nowrap align-middle">
            <th
                scope="col"
                class="text-center fs-75"
            >
                Štartovné
                <br />
                číslo
            </th>
            <th
                scope="col"
                class="text-center"
            >
                Runda
            </th>
            <th scope="col">
                Meno
            </th>
            <th scope="col">
                Priezvisko
            </th>
            <th scope="col">
                Klub / PZ
            </th>
            <th scope="col">
                Družstvo
            </th>
            <th
                scope="col"
                class="text-center"
            >
                Spoločná zbraň
            </th>
            {% for category in competition.categories %}
                <th
                    scope="col"
                    class="text-center"
                >
                    {{ category.name }}
                </th>
            {% endfor %}
            <th scope="col">
                Stav
            </th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr
                class="{{ lastInRound(competitor.startNumber, competition.shootersInRound) ? 'border-bottom border-secondary-subtle  border-2 border-top-0 border-start-0 border-end-0' }}"
            >
                <th
                    scope="row"
                    class="min-width text-center"
                >
                    {{ competitor.startNumber }}
                </th>
                <td class="text-center min-width">
                    {{ roundNumber(competitor.startNumber, competition.shootersInRound) }}
                </td>
                <td>
                    {{ competitor.shooter.firstName }}
                </td>
                <td>
                    {{ competitor.shooter.lastName }}
                </td>
                <td>
                    {{ competitor.shooter.club }}
                </td>
                <td>
                    {{ competitor.competitionTeam is not null ? competitor.competitionTeam.name }}
                </td>
                <td class="text-center min-width">
                    {{ competitor.sharedWeaponCode }}
                </td>
                {% for category in competition.categories %}
                    <td class="text-center min-width">
                        {{ competitor.categories.contains(category) ? ux_icon('bi:check-circle-fill', { class: 'text-success', style: 'height: 1em;' }) }}
                    </td>
                {% endfor %}
                <td>
                    {{ competitor.status|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
