<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Štartovná listina</title>
    <style>
        @page {
            size: A4;
            margin: 8mm;
        }

        * {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #111;
            font-size: 11px;
            line-height: 1.2;
        }

        body {
            width: 194mm;
        }

        h1 {
            margin: 0 0 5px;
            font-size: 18px;
            line-height: 1.15;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
            border: 1px solid #555;
        }

        thead th {
            border: 1px solid #555;
            padding: 2px 1px;
            font-size: 9px;
            font-weight: 700;
            line-height: 1.1;
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            word-break: break-word;
            overflow-wrap: anywhere;
        }

        thead th.fs-75 {
            font-size: 75%;
        }

        tbody th,
        tbody td {
            border: 1px solid #999;
            padding: 2px 2px;
            vertical-align: middle;
            overflow-wrap: anywhere;
        }

        tbody th {
            font-weight: 700;
        }

        .text-center {
            text-align: center;
        }

        .round-end th,
        .round-end td {
            border-bottom: 2px solid #222;
        }

        tr {
            page-break-inside: avoid;
        }

        @media print {
            body {
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
        }
    </style>
</head>
<body>
    <h1>{{ competition.name }}</h1>
    <table>
        <thead>
        <tr>
            <th
                scope="col"
                class="text-center mfs-75"
            >
                Štartovné
                <br />
                číslo
            </th>
            <th
                scope="col"
                class="text-center"
            >
                Runda
            </th>
            <th
                scope="col"
                class=""
            >
                Meno
            </th>
            <th
                scope="col"
                class=""
            >
                Priezvisko
            </th>
            <th
                scope="col"
                class=""
            >
                Klub / PZ
            </th>
            <th
                scope="col"
                class=""
            >
                Družstvo
            </th>
            <th
                scope="col"
                class="text-center fs-75"
            >
                Spoločná
                <br />
                zbraň
            </th>
            {% for category in competition.categories %}
                <th
                    scope="col"
                    class="text-center {{ category.name|length > 10 ? ' fs-75' : '' }}"
                >
                    {{ category.name }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr
                class="{{ lastInRound(competitor.startNumber, competition.shootersInRound) ? 'round-end' : '' }}"
            >
                <th
                    scope="row"
                    class="text-center"
                >
                    {{ competitor.startNumber }}
                </th>
                <td class="text-center">
                    {{ roundNumber(competitor.startNumber, competition.shootersInRound) }}
                </td>
                <td>
                    {{ competitor.shooter.firstName }}
                </td>
                <td>
                    {{ competitor.shooter.lastName }}
                </td>
                <td>
                    {{ competitor.shooter.club }}
                </td>
                <td>
                    {{ competitor.competitionTeam is not null ? competitor.competitionTeam.name }}
                </td>
                <td class="text-center">
                    {{ competitor.sharedWeaponCode }}
                </td>
                {% for category in competition.categories %}
                    <td class="text-center">
                        {{ competitor.categories.contains(category)|checkCircle }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        window.addEventListener('load', () => {
            window.print();
        });
</script>
</body>
</html>
