<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Štartovná listina</title>
    <style>
        @page {
            size: A4;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>{{ competition.name }}</h1>
    <table>
        <thead>
        <tr class="text-nowrap align-middle">
            <th
                scope="col"
                class="text-center fs-75"
            >
                Štartovné
                <br />
                číslo
            </th>
            <th
                scope="col"
                class="text-center"
            >
                Runda
            </th>
            <th scope="col">
                Meno
            </th>
            <th scope="col">
                Priezvisko
            </th>
            <th scope="col">
                Klub / PZ
            </th>
            <th scope="col">
                Družstvo
            </th>
            <th
                scope="col"
                class="text-center"
            >
                Spoločná zbraň
            </th>
            {% for category in competition.categories %}
                <th
                    scope="col"
                    class="text-center"
                >
                    {{ category.name }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr
                class="{{ lastInRound(competitor.startNumber, competition.shootersInRound) ? 'border-bottom border-secondary-subtle  border-2 border-top-0 border-start-0 border-end-0' }}"
            >
                <th
                    scope="row"
                    class="min-width text-center"
                >
                    {{ competitor.startNumber }}
                </th>
                <td class="text-center min-width">
                    {{ roundNumber(competitor.startNumber, competition.shootersInRound) }}
                </td>
                <td>
                    {{ competitor.shooter.firstName }}
                </td>
                <td>
                    {{ competitor.shooter.lastName }}
                </td>
                <td>
                    {{ competitor.shooter.club }}
                </td>
                <td>
                    {{ competitor.competitionTeam is not null ? competitor.competitionTeam.name }}
                </td>
                <td class="text-center min-width">
                    {{ competitor.sharedWeaponCode }}
                </td>
                {% for category in competition.categories %}
                    <td class="text-center min-width">
                        {{ competitor.categories.contains(category)|checkCircle }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        window.addEventListener('load', () => {
            window.print();
        });
</script>
</body>
</html>
