{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>
        Štartová listina {{ competition.name }}
    </h1>

    <table class="table">
        <thead>
        <tr style="white-space: nowrap;">
            <th>
                Štartovné číslo
            </th>
            <th>
                Runda
            </th>
            <th>
                Meno
            </th>
            <th>
                Priezvisko
            </th>
            <th>
                Klub / PZ
            </th>
            <th>
                Družstvo
            </th>
            <th>
                Spoločná zbraň
            </th>
            {% for category in competition.categories %}
                <th>
                    {{ category.name }}
                </th>
            {% endfor %}
            <th>
                Stav
            </th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr class="{{ lastInRound(competitor.startNumber, competition.shootersInRound) ? 'border-bottom border-secondary-subtle  border-2 border-top-0 border-start-0 border-end-0' }}">
                <td style="width: 1%">{{ competitor.startNumber }}</td>
                <td>{{ roundNumber(competitor.startNumber, competition.shootersInRound) }}</td>
                <td>{{ competitor.shooter.firstName }}</td>
                <td>{{ competitor.shooter.lastName }}</td>
                <td>{{ competitor.shooter.club }}</td>
                <td>{{ competitor.competitionTeam is not null ? competitor.competitionTeam.name }}</td>
                <td>{{ competitor.sharedWeaponCode }}</td>
                {% for category in competition.categories %}
                    <td>
                        {{ competitor.categories.contains(category) ? 'X' : '' }}
                    </td>
                {% endfor %}
                <td>{{ competitor.status|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
