{% extends 'base.html.twig' %}

{% block title %}Priebežné Výsledky{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h2 mt-4 mb-3">
            Priebežné Výsledky - {{ results.competition.name }} - {{ results.competition.competitionStart|date('d.m.Y') }}
        </h1>

        <div class="border rounded-4 p-3 bg-white table-responsive mb-3">
            <table
                class="table table-striped table-hover table-sm"
                style="white-space: nowrap;"
            >
                <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col" class="text-center">
                        Runda
                    </th>
                    <th scope="col">
                        Meno
                    </th>
                    <th scope="col">
                        Družstvo
                    </th>
                    {% for target in results.competition.targetConfigurationSnapshotOrdered %}
                        <th scope="col" class="text-end">
                            {{ targetShortName(target.name) }}
                        </th>
                    {% endfor %}
                    <th scope="col" class="text-end">
                        Spolu
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for competitors_results_with_rank in results.competitorsResultsWithRank %}
                    {# @var competitors_results_with_rank \App\Competition\Results\Model\CompetitorResultWithRank #}
                    <tr
                        class="{{ lastInRound(competitors_results_with_rank.rank, results.competition.shootersInRound) ? 'border-black' }}"
                    >
                        <th scope="row" style="width: 1%">
                            {{ competitors_results_with_rank.rank }}
                        </th>
                        <td class="text-center" style="width: 1%">
                            {{ roundNumber(competitors_results_with_rank.rank, results.competition.shootersInRound) }}
                        </td>
                        <td>
                            {{ competitors_results_with_rank.competitorResult.name }}
                        </td>
                        <td>
                            {{ competitors_results_with_rank.competitorResult.competitorSubResults[0].competitor.competitionTeam.name|default('') }}
                        </td>
                        {% include 'admin/competition/results/_competitor_result_data.html.twig' with {
                            competitor_sub_results: competitors_results_with_rank.competitorResult.competitorSubResults[0],
                            results: results,
                        } %}
                        <td class="text-end">
                            {{ competitors_results_with_rank.competitorResult.finalResult }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
