{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>Prezentácia: {{ competition.name }}</h1>
    <div>
        {{ competition.competitionType.name }}
        {{ competition.competitionStart|date('Y-m-d H:m') }}
    </div>

    <div>
        <twig:Presentation
            competition="{{ competition }}"
        />
    </div>

    <hr />

    <table class="table">
        <thead>
        <tr>
            <th>Štartovné číslo</th>
            <th>Strelec</th>
            <th>Klub / PZ</th>
            <th>Družstvo</th>
            <th>Spoločná zbraň</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr>
                <td>{{ competitor.startNumber }}</td>
                <td>{{ competitor.shooter.fullName }}</td>
                <td>{{ competitor.shooter.club }}</td>
                <td>{{ competitor.competitionTeam is not null ? competitor.competitionTeam.name }}</td>
                <td>{{ competitor.sharedWeaponCode }}</td>
                <td>{{ competitor.status.toSlovak }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
